h1 a {
    text-align: center;
    font-family: 'Gugi', cursive;
    margin-top: 0.3em;
    color: yellow;
}
h1 {
    text-align: center;
    font-family: 'new york times', arial;
    margin-top: 0.3em;
    color: yellow;
    text-shadow: 3px 3px black;
}
p {
 	text-align: center;
    font-family: 'Gugi', cursive;
    margin-top: 0.3em;
    color: white ;
}

    body {
	background-color: blue;
	background-repeat: no-repeat;
  	background-size: cover
  	height: 100%;

}
.foto{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.botao{
	background: white;
	font-family: 'Gugi', cursive;
}

#marca{
	width: 200px;
  margin: 10px;
}

